<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EmployeewConnectionString" connectionString="Data Source=(local);Initial Catalog=Employeew;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
